- var text = "Instagram @String__args Source in Github"
#ui
    - for (var i = 0; i < 40; i++)
        .text
            .text_inner1
                .text_inner2 #{text}

<link rel="stylesheet" href="style.css">